.centered {
    justify-content: center;

}
.greyBorder{
    border:1px solid rgba(255,255,255,.1)!important
}
.blueBorder{
    border: 1px solid rgb(0,74,173) !important;
}
.blueBackground{
    background-color: rgb(0,74,173) !important;
}
.loader{
    width: 25px;
    height: 25px;
    margin: 40px auto;
    border-radius: 50%;
    background:black;
}
.loaderBlue{
    width: 120px;
    height: 120px;
    margin: 40px auto;
    border-radius: 50%;
    background:rgb(0,74,173);
}
.testBackground{
    background-image: url('../../static/img/logo.png');
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}

.loginBox{
    color:white;
    width: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    overflow: auto;
}
.grid {
    position: relative;
  }
.grid:before {
    content: '';
    height: calc(100% - 2rem);
    left: 1rem;
    top: 1rem;
    position: absolute;
    width: calc(100% - 2rem);
}
.ui.divided.grid:before, .celled.grid:before {
    display: none;
}
.ui.aligned .column:after {
    display: none !important;
}
.grid .column:not(.row):not(.grid):after {

    display: block;
    min-height: 50px;
}
@media only screen and (max-width: 768px) {
.stackable.grid:before {
    width: 100%;
    left: 0em;
}
}